* {
    font-family: 'Lato', sans-serif
}

.body {
    background-image: url(/bootcampudd/proyectos/1.landing/img/img1.jpg);
    background-size:cover;
    background-color: #000;
}

.jumbotron {
    color:#fff;

}

.card {
    color: #000;
    
}